<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div class="container my-2">
  <form action="search" method="post">

<label for="cars">Choose a city:</label>

<select name="city" id="cars">
  <option value="hyderbad">Hyderabad</option>
  <option value="chennai">Chennai</option>
  <option value="viskhapatnam">viskhapatnam</option>
  <option value="banglore">banglore</option>
</select>

<label for="cars">Choose a disease:</label>

<select name="sys" id="symptoms">
  <option value="fever">fever</option>
  <option value="cold">cold</option>
  <option value="ent">ent</option>
</select>

  <button type="submit" class="btn btn-info col-2"> search doctors </button>
  </form>
</div>
</body>
</html>