<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<label for="cars">Choose a city:</label>

<select name="city" id="cars">
  <option value="hyd">Hyderabad</option>
  <option value="che">Chennai</option>
  <option value="vis">viskhapatnam</option>
</select>

<label for="cars">Choose a disease:</label>

<select name="sys" id="symptoms">
  <option value="fe">fever</option>
  <option value="co">cold</option>
  <option value="mo">mot</option>
</select>
</body>
</html>